
body {
    background-color:#6b6a66;
}
.naslov {
    text-align: center;
}

.podnaslov {
    text-align: center;
}

.podnaslov2 {
    text-align: center;
}

.p {
    text-align:center;
}

.slika {
    margin-left: 40%;
    width: 350px;
}

